<section>
  <div class="mx-auto max-w-screen-xl px-4 pt-8 sm:px-6 lg:px-8">
    <div class="grid grid-cols-1 gap-4 md:grid-cols-4 md:items-center md:gap-8">
      <div class="md:col-span-2">
        <img
          src="/img/pexels-thorsten-technoman-109353-338504.jpg"
          class="rounded aspect-square md:max-h-128 md:float-right"
          alt=""
        />
      </div>

      <div class="md:col-span-2">
        <div class="max-w-none">
          <h2 class="text-2xl font-semibold text-gray-900 sm:text-3xl">
            Lodging
          </h2>

          <p class="mt-4 text-gray-700">
            Taniti has a wide variety of lodging that ranges from an inexpensive hostel to one large, four-star resort. There are many small, family-owned hotels and a growing number of bed and breakfasts. All types of lodging are strictly regulated and regularly inspected by the Tanitian government.          </p>

          <div class="w-full mt-8 flex justify-center gap-16">
            <a
              class="rounded-md bg-teal-600 px-15 py-2.5 text-sm font-medium text-white shadow-sm"
              href="#accommodate"
            >
              Book a hotel
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
