<div class="w-1/1 flex justify-around">
  <a href="#dining" class="block max-w-64">
    <img
      alt=""
      src="/img/pexels-markus-winkler-1430818-12081286.jpg"
      class="max-h-64 w-full object-cover sm:max-h-80 lg:max-h-96 aspect-square"
    />

    <h3 class="mt-4 text-lg font-bold text-gray-900 sm:text-xl">Grocery Stores</h3>

    <p class="mt-2 max-w-sm text-gray-700">
      Taniti has two supermarkets, two smaller grocery stores, and one convenience store that is open 24 hours a day.
    </p>
  </a>

  <a href="#dining" class="block max-w-64">
    <img
      alt=""
      src="/img/pexels-nadin-sh-78971847-13485217.jpg"
      class="max-h-64 w-full object-cover sm:max-h-80 lg:max-h-96 aspect-square"
    />

    <h3 class="mt-4 text-lg font-bold text-gray-900 sm:text-xl">Restaurants</h3>

    <p class="mt-2 max-w-sm text-gray-700">
      Taniti currently has 10 restaurants: five serve mostly local fish and rice, three serve American-style meals, and two serve Pan-Asian cuisine.
    </p>
  </a>
</div>
