<div class="flow-root px-8">
  <dl
    class="-my-3 divide-y divide-gray-200 rounded border border-gray-200 text-sm *:even:bg-gray-50"
  >
    <div class="grid grid-cols-1 gap-1 p-3 sm:grid-cols-3 sm:gap-4">
      <dt class="font-medium text-gray-900">Visiting the Volcano</dt>

      <dd class="text-gray-700 sm:col-span-2">Free</dd>
    </div>

    <div class="grid grid-cols-1 gap-1 p-3 sm:grid-cols-3 sm:gap-4">
      <dt class="font-medium text-gray-900">Exploring the Rainforest</dt>

      <dd class="text-gray-700 sm:col-span-2">Free</dd>
    </div>

    <div class="grid grid-cols-1 gap-1 p-3 sm:grid-cols-3 sm:gap-4">
      <dt class="font-medium text-gray-900">Local History Museum</dt>

      <dd class="text-gray-700 sm:col-span-2">$5 for adults, $3 for kids</dd>
    </div>

    <div class="grid grid-cols-1 gap-1 p-3 sm:grid-cols-3 sm:gap-4">
      <dt class="font-medium text-gray-900">Chartered Fishing Tour</dt>

      <dd class="text-gray-700 sm:col-span-2">$1,000-$5,000</dd>
    </div>

    <div class="grid grid-cols-1 gap-1 p-3 sm:grid-cols-3 sm:gap-4">
      <dt class="font-medium text-gray-900">Snorkeling</dt>

      <dd class="text-gray-700 sm:col-span-2">$100 to rent equipment</dd>
    </div>

    <div class="grid grid-cols-1 gap-1 p-3 sm:grid-cols-3 sm:gap-4">
      <dt class="font-medium text-gray-900">Microbrewery</dt>

      <dd class="text-gray-700 sm:col-span-2">$5-$15 per drink</dd>
    </div>

    <div class="grid grid-cols-1 gap-1 p-3 sm:grid-cols-3 sm:gap-4">
      <dt class="font-medium text-gray-900">Dance Club</dt>

      <dd class="text-gray-700 sm:col-span-2">$20 entrance fee, ladies get in free</dd>
    </div>

    <div class="grid grid-cols-1 gap-1 p-3 sm:grid-cols-3 sm:gap-4">
      <dt class="font-medium text-gray-900">Zip-line</dt>

      <dd class="text-gray-700 sm:col-span-2">$50</dd>
    </div>

    <div class="grid grid-cols-1 gap-1 p-3 sm:grid-cols-3 sm:gap-4">
      <dt class="font-medium text-gray-900">Movies</dt>

      <dd class="text-gray-700 sm:col-span-2">$12</dd>
    </div>

    <div class="grid grid-cols-1 gap-1 p-3 sm:grid-cols-3 sm:gap-4">
      <dt class="font-medium text-gray-900">Arcade</dt>

      <dd class="text-gray-700 sm:col-span-2">$10 for 25 tokens</dd>
    </div>

    <div class="grid grid-cols-1 gap-1 p-3 sm:grid-cols-3 sm:gap-4">
      <dt class="font-medium text-gray-900">Art Gallery</dt>

      <dd class="text-gray-700 sm:col-span-2">$5 entrance fee, art pricing varies</dd>
    </div>

    <div class="grid grid-cols-1 gap-1 p-3 sm:grid-cols-3 sm:gap-4">
      <dt class="font-medium text-gray-900">Bowling</dt>

      <dd class="text-gray-700 sm:col-span-2">$14 per lane, kids bowl free</dd>
    </div>

    <div class="grid grid-cols-1 gap-1 p-3 sm:grid-cols-3 sm:gap-4">
      <dt class="font-medium text-gray-900">Nine-hole Golf Course</dt>

      <dd class="text-gray-700 sm:col-span-2">$35, rentals are extra</dd>
    </div>
  </dl>
</div>
