<section>
  <div class="mx-auto max-w-screen-xl px-4 pt-8 sm:px-6 lg:px-8">
    <div class="grid grid-cols-1 gap-4 md:grid-cols-4 md:items-center md:gap-8">
      <div class="md:col-span-2">
        <div class="max-w-none">
          <h2 class="text-2xl font-semibold text-gray-900 sm:text-3xl">
            The Island of Taniti
          </h2>

          <p class="mt-4 text-gray-700">
            Taniti is a small, tropical island in the Pacific. While the island has an area of less than 500 square miles, the terrain is varied and includes both sandy and rocky beaches, a small but safe harbor, lush tropical rainforests, and a mountainous interior that includes a small, active volcano. Taniti has an indigenous population of about 20,000. Until a recent increase in tourism, most the Tanitian economy was dominated by fishing or agriculture.
          </p>

          <div class="w-full mt-8 flex justify-center gap-16">
            <a
              class="rounded-md bg-teal-600 px-15 py-2.5 text-sm font-medium text-white shadow-sm"
              href="#"
            >
              Login
            </a>
            <a
              class="rounded-md bg-gray-100 px-15 py-2.5 text-sm font-medium text-teal-600"
              href="#"
            >
              Register
            </a>
          </div>
        </div>
      </div>

      <div class="md:col-span-2">
        <img
          src="/img/pexels-photo-17365113.jpeg"
          class="rounded aspect-square md:max-h-128 md:float-right"
          alt=""
        />
      </div>
    </div>
  </div>
</section>
