<div class="w-1/1 flex justify-around">
  <a href="#transport" class="block max-w-64 md:max-w-128 md:px-4">
    <img
      alt=""
      src="/img/pexels-silentjars-2405101.jpg"
      class="max-h-64 w-full object-cover sm:max-h-80 lg:max-h-96 aspect-square"
    />

    <h3 class="mt-4 text-lg font-bold text-gray-900 sm:text-xl">Getting There</h3>

    <p class="mt-2 max-w-sm md:max-w-128 text-gray-700">
      Almost all visitors arrive to Taniti by air, though some arrive on a small cruise ship that docks in Yellow Leaf Bay for one night per week. Taniti is served by a small airport that can accommodate small jets and propeller planes. Taniti is in the process of expanding the airport so larger jets will be able to land on the island within the next few years.     </p>

    <button
      class="rounded-md bg-teal-600 px-15 py-2.5 text-sm font-medium text-white shadow-sm max-w-64 mt-2"
      href="#transport"
    >
      Book Flights
    </button>
  </a>

  <a href="#transport" class="block max-w-64 md:max-w-128">
    <img
      alt=""
      src="/img/pexels-bertellifotografia-10182905.jpg"
      class="max-h-64 w-full object-cover sm:max-h-80 lg:max-h-96 aspect-square"
    />

    <h3 class="mt-4 text-lg font-bold text-gray-900 sm:text-xl">Getting Around</h3>

    <p class="mt-2 max-w-sm md:max-w-128 text-gray-700">
      Public buses serve Taniti City and run from 5 a.m. to 11 p.m. every day. Private buses serve the rest of the island. Taxis are available in Taniti City, and rental cars can be rented from a local rental agency near the airport. Bikes and helmets are available to rent from several vendors (helmets are required by law). Taniti City is fairly flat and very walkable. Many tourists stay in the area surrounding Merriton Landing: this area is easy to explore on foot.    </p>

    <button
      class="rounded-md bg-teal-600 px-15 py-2.5 text-sm font-medium text-white shadow-sm max-w-64 mt-2"
      href="#transport"
    >
      Reserve a car
    </button>
  </a>
</div>
